@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,500;1,300;1,400&family=Noto+Sans:wght@400;500;600&family=Poppins:wght@600;700&display=swap');

:root {
  --first-color: rgb(32, 188, 110);
  // --first-color: rgb(104, 18, 243);
  // --second-color: rgb(32, 188, 110);
  --second-color: rgb(104, 18, 243);

  --text-color: #a8a8b3;
  --text-color-alt: ;
  --title-color: #fff;
  --bg-color: rgb(13, 17, 26);
  --body-color: rgb(13, 17, 26);
  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --code-font: 'IBM Plex Mono', monospace;
  --second-font: 'Noto Sans', sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
